.barbers {
  background: $bg-color;
  color: #fff;
  text-align: center;

  h3 {
    @include baseH3;
  }

  .moustaches {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    img {
      padding: 0 25px;
    }
  }

  .moustaches::after,
  .moustaches::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: $border-color;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .barbers-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .main-img {
      display: block;
      width: 100%;
      border: 2px solid $border-color;
      padding: 5px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 1.1em;
    }

    h5 {
      font-size: 1.4em;
      margin: 15px 0;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
      padding-bottom: 20px;

      img {
        width: 120px;
        border-radius: 50%;
        height: 120px;
        padding: 0;
      }

      .select-btn {
        background: transparent;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        height: 140px;
        width: 140px;
        opacity: 1;
        transition: opacity 1s ease-out;

        &:focus {
          outline: none;
        }
      }
    }

    .selected {
      border: 2px solid $border-color;
      transition: border 0.2s ease-out;
    }

    .fade-in {
      animation: fadein 1s;
    }

    .description {
      text-align: left;

      .subscribe-btn {
        color: #fff;
        text-decoration: none;
        border: 2px solid $border-color;
        display: block;
        margin-top: 15px;
        text-align: center;
        padding: 15px 0;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
@media(min-width: 900px) {
  .barbers {
    .moustaches::after,
    .moustaches::before {
      content: "";
      display: block;
      width: 200px;
      height: 2px;
      background: $border-color;
    }

    .barbers-container {
      flex-direction: row;
      align-content: center;
      width: 75%;
      margin: auto;

      .main-img {
        width: 600px;
        margin-right: 50px;
        margin-left: 25px;
      }

      .buttons {
        img {
          width: 100px;
          height: 100px;
        }
        flex-direction: column;
        align-content: center;
        margin: 25px auto;
        height: 50%;

        .select-btn {
          padding: 0;
          width: 120px;
          height: 120px;
          margin-bottom: 25px;
        }

        .select-btn:focus {
          outline: none;
        }
      }

      .description {
        width: 400px;
      }
    }
  }
}