.image {
  background-image: url("../images/barbershop_image.jpg");
  background-size: cover;
  min-height: 500px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  min-height: 500px;
}

.opening {
  padding-top: 70px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.subscribe {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .subscribe-btn {
    display: block;
    background: $primary-color;
    padding: 15px 20px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts {
  background: rgba(0, 0, 0, 0.4);
  height: 150px;
  width: auto;
  height: 220px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: #fff;

  img {
    width: 25px;
    margin-right: 10px;
  }

  .social {
    img {
      width: 30px;
    }
  }
}
@media (min-width: 900px) {
  .image {
    min-height: 700px;
  }

  .opening {
    width: 60%;
    margin: auto;
  }

  .overlay {
    min-height: 700px;
    font-size: 1.3em;
  }

  .subscribe {
    .subscribe-btn {
      width: 300px;
    }
  }

  .contacts {
    width: auto;
    height: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    div {
      margin-right: 45px;
    }
  }
}