.register {
  background: $bg-color;
  color: #fff;

  h3 {
    @include baseH3;
    display: block;
    text-align: center;
    width: 70%;
    margin: auto;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadein 1s;
  }

  .form {
    margin: 40px auto auto;
    width: 85%;

    .barbers {
      display: flex;
      flex-wrap: wrap;

      .barber-info {
        padding-bottom: 40px;
        display: flex;

        img {
          width: 175px;
          height: 175px;
          margin-right: 25px;
          border-radius: 50%;
        }

        .right {
          align-self: baseline;
          padding-top: 20px;

          .name {
            font-size: 2.2em;
            padding: 15px 0;
          }

          .register-btn {
            background: $primary-color;
            border: none;
            color: #000;
            font-size: 1.1em;
            padding: 8px;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .time {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 25px;
      justify-content: center;

      button {
        background: $primary-color;
        color: #000;
        padding: 8px;
        font-size: 1.1em;
        border: 1px solid #fff;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .contact-data {
      padding-bottom: 25px;

      label {
        display: block;
        font-size: 1.4em;
        padding: 10px 0;
      }

      input[type="text"] {
        min-height: 20px;
        font-size: 1.4em;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .submit {
    padding-bottom: 20px;

    .submit-btn {
      background: $primary-color;
      border: none;
      padding: 15px;
      font-size: 1.4em;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .selected {
    border: 2px solid $border-color !important;
    transition: border 0.2s ease-out;
  }

  .selected-time {
    border: 2px solid blue !important;
  }
}
@media(min-width: 900px) {
  .register {
    h3 {
      width: 40%;
    }

    .form {
      width: 75%;

      .barbers {
        justify-content: center;

        .barber-info {
          img {
            width: 250px;
            height: 250px;
          }
          margin-right: 100px;
        }
      }

      .contact-data {
        text-align: center;

        input[type="text"] {
          width: 50%;
        }
      }

      .submit {
        text-align: center;

        .submit-btn {
          width: 300px;
          margin: 5px 0;
        }
      }
    }
  }
}