@mixin baseFlexBox {
  display: flex;
  justify-content: space-between;
}
@mixin baseLink {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;

  &:hover {
    text-decoration: underline;
  }
}
@mixin baseContainer {
  padding: 20px;
}
@mixin baseH3 {
  margin: 0;
  font-size: 2.5em;
  padding: 25px;
}